# vs-code
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac OS-specific storage files
.DS_Store

/data/*/
checkpoints
transformers/
thermal_parser/
runs
wandb
utils

# Ignore everything under data/
data/*

# But don't ignore DMR-IR/ and BreastThermography/ folders themselves
!data/DMR-IR/
!data/BreastThermography/

# Ignore everything inside those folders
data/DMR-IR/*
data/BreastThermography/*

# Except the csv files in those folders
!data/DMR-IR/*.csv
!data/BreastThermography/*.csv
